.navbar-custom {
	background-color: #000000;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: #bbff01;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	color: #bbff01;
}

.vertical-text {
	transform: rotate(90deg);
}

.neon {
	color: #bbff01;
}

.cusfon {
	color: #bbff01;
	font-size: 1rem;
	font-family: "Inconsolata", monospace;
	font-family: "Open Sans", sans-serif;
	/* font-family: "Pangolin", cursive; */
}

.h1 {
	max-width: 1000rem; !important;
}